
<html>
<head>
	<title>Spring Capsule</title>

  <!-- Stylesheets -->
  	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">

	<!-- Vendors -->
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Slab:300i,400,600" rel="stylesheet">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	 
	<!-- Application scripts -->
	 <script src="js/client.js"></script>
</head>
<body>
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header header1">Your Spring Capsule
                </h1>
                <h4 class="header4">Here are the items on your Spring wardrobe list!  Remove items that you don't want on your shopping list by clicking the button</h4>

                <div class="products">
                	
                </div>
            </div>
        </div>
</body>
</html>